.backend-box{
	width:100%;
	position: relative;
	max-width: 1680px;
	margin: 0 auto;
}

.backend-box-left{
	width: 60%;
	max-width: 700px;
	border:1px solid red;
	box-sizing: border-box;
	margin:0 auto;
}
.backend-box-right{
	width: 40%;
	border:1px solid red;
	box-sizing: border-box;
	max-width: 414px;
	position: absolute;
	right:0;
	top:0;
}
.imgListBox-img{
	height: 3rem;
    /* line-height: 4rem; */
    position: absolute;
    bottom: -2rem;
    width: 99%;
    text-align: center;
    color: rba(52,137,255);
}
.imgListBox-img span{
	display: block;
	overflow: hidden;
	border:1px solid black;
	height: 1.5rem;
	line-height:1.5rem ;
}
.isShow{
	margin-left: 1rem;
}
.imgListBox{
	width:8rem;display: inline-block;margin: 0.2rem;
	position: relative;
	margin-bottom: 3rem;
}
.uploadList{
	padding-top: 20px;
}
.swiper-slide{
	width: 100%;
}
.hdld{
	width: 100%;
	margin: 0 auto;
	font-size: 1.5rem;
	font-weight: 600;
	text-align: center;
	line-height: 3rem;;
}
.hdld-list{
	width: 90%;
	height: auto;
	margin:0 auto;
	padding: 1rem;
	overflow: hidden;
}
.hdld-list-left-box-img{
	width: 100%;
}
.hdld-list-left,.hdld-list-right{
	width: 50%;
	padding: 0.5rem;
	box-sizing: border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	float: left;
}
.hdld-list-left-box-img{
	width: 100%;
	color:black;
}
.hdld-list-left-box-text{
	font-size: 0.8rem;
}
.ylld{
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;
	position: relative;
}
.ylld-box{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
}
.ylld-list{
	width: calc(99% / 3);
	height: calc(99% / 3);
	box-sizing: border-box;
	margin-right: 0.5%;
	margin-bottom: 0.5%;
	overflow: hidden;
	
}
.ylld-list:nth-of-type(3n){ /* 选择个数是3的倍数的元素 */
  margin-right: 0;
}
.ylld-list:nth-of-type(n+7){  /* 选择倒数的三个元素，n可以取0 */
  margin-bottom: 0;
}
.hdgl{
	padding: 1rem;
	line-height: 1.1rem;
	font-size: 0.8rem;
	border:1px solid black;
}
.hdrc-day{
	width: 100%;
}
.hdrc-day span{
	display: inline-block;
	width: auto;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: 0.1rem;
	height: 2rem;
	line-height:2rem ;
	border-radius: 5px;
	box-sizing: border-box;
	width: 18%;
	text-align: center;
	border:1px solid black;
}
.selected-span{
	background-color:rgb(25,136,203);
	color:white;
	border:none;
}
.hd-table{
	width: 100%;
	margin:0 auto;
	margin-top: 1rem;
	border-collapse:collapse;
}
.hd-table td,.hd-table th{
	border-width: 1px;     
	padding: 0.6rem;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
	text-align: center;
}
.people{
	width: 100%;
}
.people-box{
	width: 25%;
	border-radius: 50%;
	box-sizing: border-box;
	float: left;
}
.people-box img{
	border-radius: 50%;
}
.people-box-pad{
	margin: 1rem;
}
.goTicket{
	position: fixed;
	right:20px;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	/* line-height: 4rem; */
	text-align: center;
	border:1px solid red;
	top:40%;
	background-color: white;
	z-index:100;
}
.goTicket span{
	display: block;
}